ExternalDependencies/EpicService/EpicWareWeb.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EpicWareWeb.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EpicWareWeb.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserProfileID" type="xs:int" />
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="tns:Language" />
      <xs:element minOccurs="0" name="listConnections" nillable="true" type="tns:ArrayOfConnection" />
      <xs:element minOccurs="0" name="missions" nillable="true" type="tns:ArrayOfMission" />
      <xs:element minOccurs="0" name="mood" nillable="true" type="tns:Mood" />
      <xs:element minOccurs="0" name="notifications" nillable="true" type="tns:ArrayOfNotification" />
      <xs:element minOccurs="0" name="scores" nillable="true" type="tns:ArrayOfScoreUser" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
      <xs:element minOccurs="0" name="userProfile" nillable="true" type="tns:Profile" />
      <xs:element minOccurs="0" name="userTags" nillable="true" type="tns:ArrayOfTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Language">
    <xs:sequence>
      <xs:element minOccurs="0" name="languageID" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
  <xs:complexType name="ArrayOfConnection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Connection" nillable="true" type="tns:Connection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConnection" nillable="true" type="tns:ArrayOfConnection" />
  <xs:complexType name="Connection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="connectionID" type="xs:int" />
      <xs:element minOccurs="0" name="strenght" type="xs:int" />
      <xs:element minOccurs="0" name="tagConnection" nillable="true" type="tns:TagConnection" />
      <xs:element minOccurs="0" name="userConnected" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Connection" nillable="true" type="tns:Connection" />
  <xs:complexType name="TagConnection">
    <xs:sequence>
      <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tagConnectionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagConnection" nillable="true" type="tns:TagConnection" />
  <xs:complexType name="ArrayOfMission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mission" nillable="true" type="tns:Mission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMission" nillable="true" type="tns:ArrayOfMission" />
  <xs:complexType name="Mission">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="level" type="xs:int" />
      <xs:element minOccurs="0" name="missionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mission" nillable="true" type="tns:Mission" />
  <xs:complexType name="Mood">
    <xs:sequence>
      <xs:element minOccurs="0" name="moodID" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mood" nillable="true" type="tns:Mood" />
  <xs:complexType name="ArrayOfNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="tns:Notification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotification" nillable="true" type="tns:ArrayOfNotification" />
  <xs:complexType name="Notification">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notificationID" type="xs:int" />
      <xs:element minOccurs="0" name="notificationType" nillable="true" type="tns:NotificationType" />
      <xs:element minOccurs="0" name="read" type="xs:boolean" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
  <xs:complexType name="NotificationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="notificationTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="resultLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationType" nillable="true" type="tns:NotificationType" />
  <xs:complexType name="ArrayOfScoreUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScoreUser" nillable="true" type="tns:ScoreUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScoreUser" nillable="true" type="tns:ArrayOfScoreUser" />
  <xs:complexType name="ScoreUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="scoreUserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScoreUser" nillable="true" type="tns:ScoreUser" />
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="country" nillable="true" type="tns:Country" />
      <xs:element minOccurs="0" name="facebookProfile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linkedinProfile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pathImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" type="xs:int" />
      <xs:element minOccurs="0" name="profileID" type="xs:int" />
      <xs:element minOccurs="0" name="twitterProfile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="countryID" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" nillable="true" type="tns:Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTag" nillable="true" type="tns:ArrayOfTag" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tagID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>