ExternalDependencies/EpicService/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wvm074.dei.isep.ipp.pt/LAPR5/WebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wvm074.dei.isep.ipp.pt/LAPR5/WebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wvm074.dei.isep.ipp.pt/LAPR5/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EpicWareWeb.Models" />
      <xsd:import schemaLocation="http://wvm074.dei.isep.ipp.pt/LAPR5/WebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://wvm074.dei.isep.ipp.pt/LAPR5/WebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EpicWareWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebService_getNumberUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumberUsers" />
  </wsdl:message>
  <wsdl:message name="IWebService_getNumberUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumberUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_getNumberDownloads_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumberDownloads" />
  </wsdl:message>
  <wsdl:message name="IWebService_getNumberDownloads_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumberDownloadsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_getUserByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserByID" />
  </wsdl:message>
  <wsdl:message name="IWebService_getUserByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_getUserFriendsByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserFriendsByUserId" />
  </wsdl:message>
  <wsdl:message name="IWebService_getUserFriendsByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserFriendsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_getUserByAutetication_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserByAutetication" />
  </wsdl:message>
  <wsdl:message name="IWebService_getUserByAutetication_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserByAuteticationResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetEveryWord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEveryWord" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetEveryWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEveryWordResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_getAllUsersID_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersID" />
  </wsdl:message>
  <wsdl:message name="IWebService_getAllUsersID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersIDResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_getConnectioStrenght_InputMessage">
    <wsdl:part name="parameters" element="tns:getConnectioStrenght" />
  </wsdl:message>
  <wsdl:message name="IWebService_getConnectioStrenght_OutputMessage">
    <wsdl:part name="parameters" element="tns:getConnectioStrenghtResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebService">
    <wsdl:operation name="getNumberUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/getNumberUsers" message="tns:IWebService_getNumberUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/getNumberUsersResponse" message="tns:IWebService_getNumberUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNumberDownloads">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/getNumberDownloads" message="tns:IWebService_getNumberDownloads_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/getNumberDownloadsResponse" message="tns:IWebService_getNumberDownloads_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/getUserByID" message="tns:IWebService_getUserByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/getUserByIDResponse" message="tns:IWebService_getUserByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserFriendsByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/getUserFriendsByUserId" message="tns:IWebService_getUserFriendsByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/getUserFriendsByUserIdResponse" message="tns:IWebService_getUserFriendsByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserByAutetication">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/getUserByAutetication" message="tns:IWebService_getUserByAutetication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/getUserByAuteticationResponse" message="tns:IWebService_getUserByAutetication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEveryWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/GetEveryWord" message="tns:IWebService_GetEveryWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/GetEveryWordResponse" message="tns:IWebService_GetEveryWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsersID">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/getAllUsersID" message="tns:IWebService_getAllUsersID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/getAllUsersIDResponse" message="tns:IWebService_getAllUsersID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getConnectioStrenght">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/getConnectioStrenght" message="tns:IWebService_getConnectioStrenght_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/getConnectioStrenghtResponse" message="tns:IWebService_getConnectioStrenght_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebService" type="tns:IWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getNumberUsers">
      <soap:operation soapAction="http://tempuri.org/IWebService/getNumberUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumberDownloads">
      <soap:operation soapAction="http://tempuri.org/IWebService/getNumberDownloads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByID">
      <soap:operation soapAction="http://tempuri.org/IWebService/getUserByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserFriendsByUserId">
      <soap:operation soapAction="http://tempuri.org/IWebService/getUserFriendsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByAutetication">
      <soap:operation soapAction="http://tempuri.org/IWebService/getUserByAutetication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEveryWord">
      <soap:operation soapAction="http://tempuri.org/IWebService/GetEveryWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsersID">
      <soap:operation soapAction="http://tempuri.org/IWebService/getAllUsersID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConnectioStrenght">
      <soap:operation soapAction="http://tempuri.org/IWebService/getConnectioStrenght" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="BasicHttpBinding_IWebService" binding="tns:BasicHttpBinding_IWebService">
      <soap:address location="http://wvm074.dei.isep.ipp.pt/LAPR5/WebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>